/* Hide scrollbar for all browsers */
.custom-scroll {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE 10+ */
}
.custom-scroll::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}
