@if (stats) {
  <main class="p-4 md:ml-auto h-auto bg-gray-100 absolute -z-[1]">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Restaurants Card -->
      <div class="relative p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-semibold">Restaurants</h2>
        <p class="text-3xl font-bold mt-2">{{ stats.restaurant_summary.total }}</p>
        <!-- Change Indicator -->
        <div class="absolute top-4 right-4 flex items-center">
          <span class="text-sm font-medium" [ngClass]="stats.restaurant_summary.month_growth  ==='up' ? 'text-green-600' : 'text-red-600'">
            {{ stats.restaurant_summary.monthly}} This Month
          </span>
          @if (stats.restaurant_summary.month_growth  ==='up') {
            <svg class="w-5 h-5 text-green-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"></path>
            </svg>
          }
          @if (stats.restaurant_summary.month_growth  ==='down') {
            <svg class="w-5 h-5 text-red-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
            </svg>
          }
        </div>
        <!-- Restaurant Status Breakdown -->
        <div class="mt-4 flex flex-wrap gap-2 text-xs">
          <span class="bg-green-100 text-green-600 px-3 py-1 rounded-lg">Active: {{ stats.restaurant_summary.status_breakdown.active}}</span>
          <span class="bg-yellow-100 text-yellow-600 px-3 py-1 rounded-lg">Pending: {{ stats.restaurant_summary.status_breakdown.pending }}</span>
          <span class="bg-gray-100 text-gray-600 px-3 py-1 rounded-lg">Inactive: {{ stats.restaurant_summary.status_breakdown.inactive }}</span>
          <span class="bg-red-100 text-red-500 px-3 py-1 rounded-lg">Rejected: {{ stats.restaurant_summary.status_breakdown.rejected }}</span>
          <span class="bg-black text-white px-3 py-1 rounded-lg">Blocked: {{ stats.restaurant_summary.status_breakdown.blocked }}</span>
        </div>
      </div>
      <!-- Orders Card -->
      <div class="relative p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-semibold">Orders</h2>
        <p class="text-3xl font-bold mt-2">{{ stats.orders_summary.total }}</p>
        <!-- Change Indicator -->
        <div class="absolute top-4 right-4 flex items-center">
          <span class="text-sm font-medium" [ngClass]="stats.orders_summary.month_growth === 'up' ? 'text-green-600' : 'text-red-600'">
            {{ stats.orders_summary.monthly }} This Month
          </span>
          @if (stats.orders_summary.month_growth === 'up') {
            <svg class="w-5 h-5 text-green-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"></path>
            </svg>
          }
          @if (stats.orders_summary.month_growth === 'down') {
            <svg class="w-5 h-5 text-red-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
            </svg>
          }
        </div>
        <!-- Orders Breakdown -->
        <div class="mt-4 flex flex-wrap gap-2 text-xs">
          <span class="bg-green-100 text-green-600 px-3 py-1 rounded-lg">Closed: {{ stats.orders_summary.status_breakdown.closed }}</span>
          <span class="bg-red-100 text-red-500 px-3 py-1 rounded-lg">Open: {{ stats.orders_summary.status_breakdown.open }}</span>
        </div>
      </div>
      <!-- Diners Card -->
      <div class="relative p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-semibold">Diners</h2>
        <p class="text-3xl font-bold mt-2">{{ stats.users_summary.diners }}</p>
        <!-- Change Indicator -->
        <div class="absolute top-4 right-4 flex items-center">
          <span class="text-sm font-medium" [ngClass]="stats.users_summary.month_growth === 'up' ? 'text-green-600' : 'text-red-600'">
            {{ stats.users_summary.monthly }} Active This Month
          </span>
          @if (stats.users_summary.month_growth === 'up') {
            <svg class="w-5 h-5 text-green-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"></path>
            </svg>
          }
          @if (stats.users_summary.month_growth === 'down') {
            <svg class="w-5 h-5 text-red-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
            </svg>
          }
        </div>
        <!-- Diners Breakdown -->
        <div class="mt-4 flex flex-wrap gap-2 text-xs">
          <span class="bg-gray-100 text-gray-700 px-3 py-1 rounded-full">
            Total Users: {{ stats.users_summary.total }}
          </span>
          <span class="bg-blue-100 text-blue-700 px-3 py-1 rounded-full">
            Restaurant Staff: {{ stats.users_summary.restaurant_staff }}
          </span>
          <span class="bg-green-100 text-green-700 px-3 py-1 rounded-full">
            Dinify Staff: {{ stats.users_summary.dinify_staff }}
          </span>
        </div>
      </div>
      <!-- Dinify Earnings Card -->
      <div class="relative p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-semibold">Dinify Earnings (UGX)</h2>
        <p class="text-3xl font-bold mt-2">{{ stats.dinify_earnings.total| number }}</p>
        <!-- Change Indicator -->
        <div class="absolute top-4 right-4 flex items-center">
          <span class="text-sm font-medium" [ngClass]="stats.dinify_earnings.month_growth === 'up' ? 'text-green-600' : 'text-red-600'">
            UGX  {{ stats.dinify_earnings.monthly }} This Month
          </span>
        </div>
        <!-- Revenue Breakdown (Stacked) -->
        <div class="mt-4 space-y-3">
          <div class="flex flex-col bg-gray-50 p-3 rounded-lg shadow-sm">
            <p class="text-gray-500 text-sm">From Subscriptions</p>
            <p class="text-lg font-medium text-gray-800">UGX {{ stats.dinify_earnings.subscriptions| number }}</p>
          </div>
          <div class="flex flex-col bg-red-50 p-3 rounded-lg shadow-sm border-l-4 border-red-500">
            <p class="text-red-600 text-sm font-semibold">Outstanding</p>
            <p class="text-lg font-bold text-red-700">UGX {{ stats.dinify_earnings.outstanding | number }}</p>
          </div>
        </div>
      </div>
      <!-- Top Restaurants Card -->
      <div class="p-4 bg-white shadow-md rounded-lg col-span-2">
        <h2 class="text-lg font-semibold mb-4">Top Restaurants</h2>
        <ul class="divide-y divide-gray-200">
          @for (restaurant of stats.top_restaurants; track restaurant) {
            <li class="py-3 flex justify-between items-center">
              <div>
                <p class="text-lg font-medium">{{ restaurant.restaurant }}</p>
                <p class="text-sm text-gray-600">Orders: {{ restaurant.orders }}</p>
              </div>
              <p class="text-sm font-semibold text-gray-800">UGX {{ (restaurant.amount| number)||'0' }}</p>
            </li>
          }
        </ul>
      </div>
    </div>
  </main>
}

