<app-dn-card>
    <form *ngIf="ConfigForm" [formGroup]="ConfigForm" (ngSubmit)="ConfigForm.valid?Save():false" class="border-t border-border">
        <div class="px-4 pt-4">
            <div id="accordion-flush" data-accordion="collapse">
                <h2 id="accordion-flush-heading-1">
                    <div class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-muted-foreground border-b border-border">
                        <span>Diner's Portal</span>
                    </div>
                </h2>
                <div *ngIf="HomeForm" [formGroup]="HomeForm">
                    <div class="pb-5">
                        <div class="flex items-center justify-between w-full py-3 font-medium text-left rtl:text-right text-muted-foreground border-b border-border">
                            <p class="text-muted-foreground">Brand colour</p>
                            <span class="w-6 h-6 ring ring-ring outline-none ml-auto"
                                [style.background]="HomeForm.get('brand_color')?.value"
                                [colorPicker]="HomeForm.get('brand_color')?.value"
                                (colorPickerChange)="HomeForm.get('brand_color')?.setValue($event)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center px-4 pb-4 space-x-3 rtl:space-x-reverse rounded-b">
            <button app-dn-button type="submit" class="w-40 ml-auto">Save</button>
        </div>
    </form>
</app-dn-card>
